@font-face {
  font-family: "caishui-mobile";
  src: url('//as.zbjimg.com/static/iconfont/caishui-mobile/0.0.16/iconfont.eot');
  src: url('//as.zbjimg.com/static/iconfont/caishui-mobile/0.0.16/iconfont.eot') format('embedded-opentype'),
    url('//as.zbjimg.com/static/iconfont/caishui-mobile/0.0.16/iconfont.woff') format('woff'),
    url('//as.zbjimg.com/static/iconfont/caishui-mobile/0.0.16/iconfont.ttf') format('truetype'),
    url('//as.zbjimg.com/static/iconfont/caishui-mobile/0.0.16/iconfont.svg') format('svg');
}

[class^="icon-"],
[class*="icon-"] {
  font-family: "caishui-mobile" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  line-height: 1;
}

.icon-dialogue:before {
  content: "\e000";
}

.icon-chenggong:before {
  content: "\e002";
}

.icon-yinleguan:before {
  content: "\e003";
}

.icon-yinlekai:before {
  content: "\e004";
}

.icon-shijian:before {
  content: "\e005";
}

.icon-note:before {
  content: "\e006";
}

.icon-right:before {
  content: "\e007";
}

.icon-arrow-left:before {
  content: "\e008";
}

.icon-list:before {
  content: "\e009";
}

.icon-arrow-right:before {
  content: "\e00a";
}

.icon-tel:before {
  content: "\e00c";
}

.icon-msg:before {
  content: "\e00d";
}

.icon-product-bg:before {
  content: "\e00e";
}

.icon-home-bg:before {
  content: "\e00f";
}

.icon-home:before {
  content: "\e010";
}

.icon-msg-bg:before {
  content: "\e011";
}

.icon-product:before {
  content: "\e012";
}

.icon-user:before {
  content: "\e013";
}

.icon-triangle-down:before {
  content: "\e014";
}

.icon-close:before {
  content: "\e015";
}

.icon-pen:before {
  content: "\e017";
}

.icon-wechat:before {
  content: "\e018";
}

.icon-triangle-right:before {
  content: "\e019";
}

.icon-hot:before {
  content: "\e01a";
}

.icon-wechat-white:before {
  content: "\e01b";
}

.icon-pc:before {
  content: "\e01c";
}

.icon-gotop:before {
  content: "\e01d";
}

.icon-pencil:before {
  content: "\e020";
}

.icon-tool:before {
  content: "\e021";
}

.icon-hook:before {
  content: "\e022";
}

.icon-notebook:before {
  content: "\e023";
}

.icon-cellphone:before {
  content: "\e024";
}

.icon-user-thin:before {
  content: "\e025";
}

.icon-shopping-cart:before {
  content: "\e026";
}

.icon-arrow-down:before {
  content: "\e027";
}

.icon-book:before {
  content: "\e028";
}

.icon-record:before {
  content: "\e029";
}

.icon-account-book:before {
  content: "\e02a";
}

.icon-square:before {
  content: "\e02b";
}

.icon-point:before {
  content: "\e02c";
}

.icon-gengduo:before {
  content: "\e02d";
}

.icon-handshake:before {
  content: "\e02e";
}

.icon-tishi:before {
  content: "\e02f";
}

.icon-close-circle:before {
  content: "\e030";
}

.icon-clock:before {
  content: "\e031";
}

.icon-question:before {
  content: "\e032";
}

.icon-sure:before {
  content: "\e033";
}

.icon-attention:before {
  content: "\e034";
}

.icon-behalf-debt:before {
  content: "\e035";
}

.icon-business:before {
  content: "\e036";
}

.icon-company-name:before {
  content: "\e037";
}

.icon-at:before {
  content: "\e038";
}

.icon-building:before {
  content: "\e039";
}

.icon-users:before {
  content: "\e03a";
}

.icon-qq:before {
  content: "\e03b";
}

.icon-ucard:before {
  content: "\e03c";
}

.icon-add:before {
  content: "\e03d";
}

.icon-licenseok:before {
  content: "\e03e";
}

.icon-sentinfo:before {
  content: "\e03f";
}

.icon-report:before {
  content: "\e040";
}

.icon-checkname:before {
  content: "\e041";
}

.icon-stamp:before {
  content: "\e042";
}

.icon-license:before {
  content: "\e043";
}

.icon-erphone:before {
  content: "\e044";
}

.icon-del:before {
  content: "\e045";
}

.icon-dizhi1:before {
  content: "\e046";
}

.icon-money:before {
  content: "\e047";
}

.icon-menu:before {
  content: "\e048";
}

.icon-receivables:before {
  content: "\e049";
}

.icon-funds:before {
  content: "\e04a";
}

.icon-payment:before {
  content: "\e04b";
}

.icon-chakan:before {
  content: "\e04c";
}

.icon-youzhi:before {
  content: "\e04e";
}

.icon-zixun:before {
  content: "\e04f";
}

.icon-liebiaodizhi:before {
  content: "\e050";
}

.icon-dizhixuanzexiala:before {
  content: "\e051";
}

.icon-phone-solid:before {
  content: "\e052";
}

.icon-toggle:before {
  content: "\e053";
}

.icon-pengyouquan:before {
  content: "\e054";
}

.icon-company-home:before {
  content: "\e055";
}

.icon-wancheng:before {
  content: "\e056";
}

.icon-jiedian:before {
  content: "\e057";
}

.icon-youjian:before {
  content: "\e058";
}

.icon-jinzhi:before {
  content: "\e059";
}

.icon-zixun1:before {
  content: "\e05a";
}

.icon-dianhua1:before {
  content: "\e05b";
}

.icon-dengdai1:before {
  content: "\e05c";
}

.icon-daizhang1:before {
  content: "\e05d";
}

.icon-kefudianhua:before {
  content: "\e05f";
}

.icon-summons:before {
  content: "\e060";
}

.icon-scanning:before {
  content: "\e061";
}

.icon-pengyq:before {
  content: "\e062";
}

.icon-dizhi:before {
  content: "\e063";
}

.icon-dianhua:before {
  content: "\e064";
}

.icon-views:before {
  content: "\e065";
}

.icon-hot1:before {
  content: "\e066";
}

.icon-dates:before {
  content: "\e067";
}

.icon-share:before {
  content: "\e068";
}

.icon-search:before {
  content: "\e069";
}

.icon-bjnews:before {
  content: "\e06a";
}

.icon-cs-information:before {
  content: "\e06b";
}

.icon-xiaosanjiao:before {
  content: "\e06c";
}

.icon-hot-:before {
  content: "\e06d";
}

.icon-new:before {
  content: "\e06e";
}

.icon-close1:before {
  content: "\e06f";
}

.icon-shop:before {
  content: "\e070";
}

.icon-finger1:before {
  content: "\e071";
}

.icon-shield-right:before {
  content: "\e072";
}

.icon-xiala:before {
  content: "\e073";
}

.icon-icon-test:before {
  content: "\e074";
}

.icon-hot2:before {
  content: "\e075";
}

.icon-bibei:before {
  content: "\e076";
}

.icon-chakangengduotubiao:before {
  content: "\e077";
}

.icon-hangye:before {
  content: "\e078";
}

.icon-xingming:before {
  content: "\e079";
}

.icon-shouji:before {
  content: "\e07a";
}

.icon-shoujihao:before {
  content: "\e07b";
}

.icon-love:before {
  content: "\e07c";
}

.icon-user-bg:before {
  content: "\e00b";
}

.icon-liebiaodianhua:before {
  content: "\e04d";
}

.icon-logo:before {
  content: "\e05e";
}

.icon-shenhetongguo:before {
  content: "\e080";
}

.icon-shouqi:before {
  content: "\e0ac";
}

.icon-warn:before {
  content: "\e0b6";
}

.icon-dangetianjia:before {
  content: "\e0cc";
}

.icon-phone:before {
  content: "\e15a";
}

.icon-pull-down:before {
  content: "\e167";
}

.icon-dizhi2:before {
  content: "\e16c";
}

.icon-zhiding:before {
  content: "\e16d";
}

.icon-user4:before {
  content: "\e173";
}

.icon-smile:before {
  content: "\e01f";
}

.icon-finger:before {
  content: "\e016";
}

.icon-location:before {
  content: "\e01e";
}

.icon-lianxidianhua:before {
  content: "\e19a";
}

.icon-zhize:before {
  content: "\e19d";
}

.icon-miaoshu:before {
  content: "\e19e";
}

.icon-zhaoxiannashi:before {
  content: "\e19f";
}

.icon-City:before {
  content: "\e1a0";
}

.icon-industry:before {
  content: "\e1a1";
}

.icon-Qualifications:before {
  content: "\e1a2";
}

.icon-Telephone:before {
  content: "\e1a3";
}

.icon-daohang:before {
  content: "\e1a4";
}

.icon-bodadianhua:before {
  content: "\e1ac";
}

.icon-tianjiazizhi:before {
  content: "\e1bf";
}

.icon-nvxing:before {
  content: "\e1c1";
}

.icon-nanxing:before {
  content: "\e1c2";
}

.icon-duihua:before {
  content: "\e1c3";
}

.icon-shuoming2:before {
  content: "\e1c8";
}

.icon-gongzi:before {
  content: "\e1c9";
}

.icon-hukouleixing:before {
  content: "\e1ca";
}

.icon-sanchudaixian-01:before {
  content: "\e1cb";
}

.icon-huijigenghuanshibai:before {
  content: "\e1ce";
}

.icon-xingxing:before {
  content: "\e1cf";
}

.icon-xiangji:before {
  content: "\e1d0";
}

.icon-shanchushangchuanzhao:before {
  content: "\e1d1";
}

.icon-guanjia:before {
  content: "\e1d2";
}

.icon-liuyan:before {
  content: "\e1d3";
}

.icon-kuaijigenghuan:before {
  content: "\e1d4";
}

.icon-xiankuangxingxing:before {
  content: "\e1d5";
}

.icon-zengzhijindu:before {
  content: "\e1d9";
}

.icon-dengdai:before {
  content: "\e1da";
}

.icon-chenggong1:before {
  content: "\e1db";
}

.icon-fuwuzhon:before {
  content: "\e1dc";
}

.icon-huo:before {
  content: "\e1dd";
}

.icon-huankuaiji:before {
  content: "\e1e4";
}
