@font-face {
  font-family: "caishui-pc";
  src: url('//as.zbjimg.com/static/iconfont/caishui-pc/0.0.9/iconfont.eot');
  src: url('//as.zbjimg.com/static/iconfont/caishui-pc/0.0.9/iconfont.eot') format('embedded-opentype'),
    url('//as.zbjimg.com/static/iconfont/caishui-pc/0.0.9/iconfont.woff') format('woff'),
    url('//as.zbjimg.com/static/iconfont/caishui-pc/0.0.9/iconfont.ttf') format('truetype'),
    url('//as.zbjimg.com/static/iconfont/caishui-pc/0.0.9/iconfont.svg') format('svg');
}

[class^="icon-"],
[class*="icon-"] {
  font-family: "caishui-pc" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  text-decoration: none;
  text-transform: none;
  line-height: 1;
}

.icon-close:before {
  content: "\e015";
}

.icon-wechat:before {
  content: "\e018";
}

.icon-book:before {
  content: "\e028";
}

.icon-close-circle:before {
  content: "\e030";
}

.icon-building:before {
  content: "\e039";
}

.icon-dianhua:before {
  content: "\e064";
}

.icon-shield-right:before {
  content: "\e072";
}

.icon-shouji:before {
  content: "\e07a";
}

.icon-shenhetongguo:before {
  content: "\e080";
}

.icon-shenheweitongguo:before {
  content: "\e081";
}

.icon-tongguo:before {
  content: "\e096";
}

.icon-glass:before {
  content: "\e09e";
}

.icon-new:before {
  content: "\e09f";
}

.icon-shouqi:before {
  content: "\e0ac";
}

.icon-wenhao:before {
  content: "\e0ad";
}

.icon-gaojishaixuan:before {
  content: "\e0b9";
}

.icon-shanchu1:before {
  content: "\e0be";
}

.icon-shanchu:before {
  content: "\e0bf";
}

.icon-yidong-:before {
  content: "\e0d7";
}

.icon-guide:before {
  content: "\e0f0";
}

.icon-pen1:before {
  content: "\e0f1";
}

.icon-add:before {
  content: "\e0f4";
}

.icon-point1:before {
  content: "\e102";
}

.icon-system:before {
  content: "\e104";
}

.icon-fast:before {
  content: "\e115";
}

.icon-round-right:before {
  content: "\e119";
}

.icon-free:before {
  content: "\e116";
}

.icon-advisory3:before {
  content: "\e11b";
}

.icon-advisory2:before {
  content: "\e11c";
}

.icon-Bookkeeping:before {
  content: "\e11d";
}

.icon-consultant:before {
  content: "\e11e";
}

.icon-cooperation:before {
  content: "\e11f";
}

.icon-customerservice:before {
  content: "\e120";
}

.icon-date1:before {
  content: "\e121";
}

.icon-gift:before {
  content: "\e122";
}

.icon-inner-triangle:before {
  content: "\e124";
}

.icon-intelligent:before {
  content: "\e125";
}

.icon-number2:before {
  content: "\e126";
}

.icon-number3:before {
  content: "\e127";
}

.icon-number:before {
  content: "\e128";
}

.icon-pc1:before {
  content: "\e129";
}

.icon-QRcode:before {
  content: "\e12a";
}

.icon-rule:before {
  content: "\e12b";
}

.icon-smile:before {
  content: "\e12c";
}

.icon-Turn:before {
  content: "\e12d";
}

.icon-user5:before {
  content: "\e12e";
}

.icon-advisory4:before {
  content: "\e12f";
}

.icon-advisory1:before {
  content: "\e130";
}

.icon-arrow-right:before {
  content: "\e131";
}

.icon-calculate:before {
  content: "\e132";
}

.icon-cancel1:before {
  content: "\e133";
}

.icon-complete1:before {
  content: "\e135";
}

.icon-home1:before {
  content: "\e136";
}

.icon-hot5:before {
  content: "\e137";
}

.icon-inquire:before {
  content: "\e138";
}

.icon-lostpay:before {
  content: "\e139";
}

.icon-money:before {
  content: "\e13a";
}

.icon-protection1:before {
  content: "\e13b";
}

.icon-safety:before {
  content: "\e13c";
}

.icon-speaker:before {
  content: "\e13d";
}

.icon-telephone1:before {
  content: "\e13f";
}

.icon-telephone2:before {
  content: "\e140";
}

.icon-user5:before {
  content: "\e141";
}

.icon-warning:before {
  content: "\e142";
}

.icon-add4:before {
  content: "\e143";
}

.icon-arrow-tall:before {
  content: "\e144";
}

.icon-consultation:before {
  content: "\e148";
}

.icon-equal:before {
  content: "\e149";
}

.icon-food:before {
  content: "\e14a";
}

.icon-hot4:before {
  content: "\e14b";
}

.icon-hot6:before {
  content: "\e14c";
}

.icon-like:before {
  content: "\e14d";
}

.icon-message:before {
  content: "\e14e";
}

.icon-order:before {
  content: "\e14f";
}

.icon-orders:before {
  content: "\e150";
}

.icon-pay:before {
  content: "\e151";
}

.icon-products:before {
  content: "\e152";
}

.icon-protection:before {
  content: "\e153";
}

.icon-star:before {
  content: "\e154";
}

.icon-telephone:before {
  content: "\e155";
}

.icon-web:before {
  content: "\e156";
}

.icon-biaoqian-:before {
  content: "\e157";
}

.icon-shangpian-:before {
  content: "\e158";
}

.icon-shouye-:before {
  content: "\e159";
}

.icon-phone:before {
  content: "\e15a";
}

.icon-shuaxin-:before {
  content: "\e15b";
}

.icon-xiapian-:before {
  content: "\e15c";
}

.icon-add3:before {
  content: "\e15d";
}

.icon-capital:before {
  content: "\e15e";
}

.icon-download:before {
  content: "\e160";
}

.icon-EDIT:before {
  content: "\e161";
}

.icon-exit2:before {
  content: "\e162";
}

.icon-file:before {
  content: "\e163";
}

.icon-finance:before {
  content: "\e164";
}

.icon-home2:before {
  content: "\e165";
}

.icon-phone2:before {
  content: "\e166";
}

.icon-pull-down:before {
  content: "\e167";
}

.icon-user1:before {
  content: "\e168";
}

.icon-user2:before {
  content: "\e169";
}

.icon-View:before {
  content: "\e16a";
}

.icon-cuowutixing:before {
  content: "\e16b";
}

.icon-dizhi2:before {
  content: "\e16c";
}

.icon-zhiding:before {
  content: "\e16d";
}

.icon-zixun-copy:before {
  content: "\e16e";
}

.icon-zixun3:before {
  content: "\e16f";
}

.icon-zixun4:before {
  content: "\e170";
}

.icon-zixun5:before {
  content: "\e171";
}

.icon-contract:before {
  content: "\e172";
}

.icon-user4:before {
  content: "\e173";
}

.icon-hot3:before {
  content: "\e123";
}

.icon-complete:before {
  content: "\e134";
}

.icon-supplement:before {
  content: "\e13e";
}

.icon-diamond:before {
  content: "\e15f";
}

.icon-arrow2:before {
  content: "\e146";
}

.icon-arrow1:before {
  content: "\e145";
}

.icon-change:before {
  content: "\e147";
}

.icon-Arrow:before {
  content: "\e174";
}

.icon-Alarm-clock:before {
  content: "\e176";
}

.icon-Down-ARROW:before {
  content: "\e177";
}

.icon-guanzhu:before {
  content: "\e179";
}

.icon-xiangyou:before {
  content: "\e17a";
}

.icon-naozhong:before {
  content: "\e17c";
}

.icon-tuijian2:before {
  content: "\e17d";
}

.icon-remai:before {
  content: "\e17b";
}

.icon-gengduo1:before {
  content: "\e17f";
}

.icon-lianxidianhua:before {
  content: "\e19a";
}

.icon-shouji-:before {
  content: "\e17e";
}

.icon-dingdanguanli:before {
  content: "\e1ae";
}

.icon-daipingluntubiao:before {
  content: "\e1cc";
}

.icon-huijigenghuanshibai:before {
  content: "\e1ce";
}

.icon-guanjia:before {
  content: "\e1d2";
}

.icon-huo:before {
  content: "\e1dd";
}

.icon-youqinglianjie:before {
  content: "\e1de";
}

.icon-loc-bd:before {
  content: "\e0f6";
}
